body {
 background-color:#ffe6b3;
}

.img1 {
 display: block;
 margin-left: auto;
 margin-right: auto;
 border-radius: 50%
} 

.img2 {
 display: block;
 margin: auto;
 width: 99%;
 height: 150px; 
 border: 4px solid black;	
}

H1 {
 text-align:center;
 color:#00004d;
 text-shadow:5px 5px 3px grey;
 font-style:oblique;
 font-weight:750;
}

H3 {
 font-family:Della Respira;
 color:#00004d;
} 

p {
 font-family:Della Respira;
}

a:link {
  text-decoration: none;
}

ul {
 width:300px;
 margin: 0 auto;  
 padding: 5px 0 0 0;
 text-align:center;
 font-family:Della Respira;
 list-style-type: none;
} 

.contact {
 border-style:solid;
 margin-top:10px;
 margin-right:300px;
 margin-left:300px;
 margin-bottom:10px;
 background-color: #fcebb6;
 border:4px solid black;
}