H1, H2 {
 text-align:center;
 color:#00004d;
 text-shadow:5px 5px 3px grey;
 font-style:oblique;
 font-weight:750;
}

body {
 background-color:#ffe6b3;
}

table, td {
 border-collapse:collapse;
 border:2px solid black; 
 font-family:Della Respira;
}

.ont, .gew, .ben, .hand {
 color:#00004d;
 font-family:Della Respira;
 font-size:115%;
 font-weight:bolder;
}

p { 
 font-family:Della Respira;
}

a:link {
 text-decoration: none;
}

.img1 {
    display: block;
    margin: auto;
    width: 99%;
    height: 150px; 
    border: 4px solid black;	
}

ul {
 width:300px;
 margin: 0 auto;  
 padding: 5px 0 0 0;
 text-align: center;
 font-family: Della Respira;
 list-style-type: none;
} 